@use "../variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $bg-color;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grecaptcha-badge {
  display: none !important;
}