@use "../variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $bg-color;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grecaptcha-badge {
  display: none !important;
}

.page-template-page-computer-marketplace {
  #section1 {
    margin-top: 10px;

    @include breakpoint(sm) {
      margin-top: 200px;
    }
  }
}

.page-template-page-avachat{
  .hero {
    margin-top: 10px;

    @include breakpoint(sm) {
      margin-top: 200px;
    }
  }
}




.ajeeb {
  z-index: 10;
  margin-right: 15px;
  width: 140px;
  height: 44px;

  &::part(ctk-clickable) {
    left: auto !important;
    right: 281px !important;
  }
}

@media (max-width: 1280px){
  .button-span {
    padding-left: 25px;
    padding-right: 25px;
  }
}